
@media only screen and (max-width: 764px) {
.bloq-section {

.kacha{
  .info-container{
    .logo-container{
      background-image: url("/images/images_section/kachamosas2.jpg");
      background-size: cover ;
      background-position:center ;
      .logo{
        right: 0px;
        top: 120px;
      }
    }
  }
}
.cholas{
  .info-container{
    .logo-container{
      background-image: url("/images/images_section/cholas.jpg");
      background-size: cover ;
      background-position:center ;
      .logo{
        right: 0px;
            top: 120px;
      }
    }
  }
}
.arawi{
  .info-container{
    .logo-container{
      background-image: url("/images/images_section/arawi3.jpg");
      background-size: cover ;
      background-position:center ;
      .logo{
        right: 0px;
        top: 120px;
        
      }
    }
  }
}
.oruro{
  .info-container{
    .logo-container{
      background-image: url("/images/images_section/bloqueOruro.jpg");
      background-size: cover ;
      background-position:center ;
      .logo{
        right: 0px;
        top: 120px;
      }
    }
  }
}
.m-h{
  .info-container{
    .logo-container{
      background-image: url("/images/images_section/m-h2.jpg");
      background-size: cover ;
      background-position:center ;
      .logo{
        right: 0px;
        top: 120px;
      }
    }
  }
}
.sanIsidro{
  .info-container{
    .logo-container{
      background-image: url("/images/images_section/sanIsidro.jpg");
      background-size: cover ;
      background-position:center ;
      .logo{
        right: 0px;
        top: 120px;
      }
    }
  }
}
.sanIsidro{
  .info-container{
    .logo-container{
      background-image: url("/images/images_section/sanIsidro.jpg");
      background-size: cover ;
      background-position:center ;
      .logo{
        right: 0px;
        top: 120px;
      }
    }
  }
}
.chinas{
  .info-container{
    .logo-container{
      background-image: url("/images/images_section/chinas.jpg");
      background-size: cover ;
      background-position:center ;
      .logo{
        right: 0px;
        top: 120px;
      }
    }
  }
}
.reyes{
  .info-container{
    .logo-container{
      background-image: url("/images/images_section/reyes2.jpg");
      background-size: cover ;
      background-position:center ;
      .logo{
        right: 0px;
        top: 120px;
      }
    }
  }
}
.central{
  .info-container{
    .logo-container{
      background-image: url("/images/images_section/central.jpg");
      background-size: cover ;
      background-position:center ;
      .logo{
        right: 0px;
            top: 120px;
      }
    }
    .text{
      p{
        padding:10px 20px;
      }
    }
  }
}
.candila{
  .info-container{
    .logo-container{
      background-image: url("/images/images_section/candila.jpg");
      background-size: cover ;
      background-position:center ;
      .logo{
        right: 0px;
        top: 120px;
      }
    }
  }
}
.orureños{
  margin-bottom: 10px;
  .info-container{
    .logo-container{
      background-image: url("/images/images_section/orureños.jpg");
      background-size: cover ;
      background-position:center ;
      .logo{
        right: 0px;
        top: 120px;
      }
    }
  }
}
}
}