.bloq-section {
  .iconos {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 10px;
    .info-container {
      .logo-container {
        background-image: url("/images/images_section/kachFon.jpg");
        .logo {
          background-image: url("/images/images_section/iconosLogo.jpg");
        }
      }
    }
    .img-container {
      .img {
        background-image: url("/images/images_section/iconos.jpg");
      }
    }
  }
  .kacha {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 10px;
    .info-container {
      .logo-container {
        background-image: url("/images/images_section/kachFon.jpg");
        .logo {
          background-image: url("/images/images_section/kachLogo.jpg");
        }
      }
    }
    .img-container {
      .img {
        background-image: url("/images/images_section/kachamosas.jpg");
      }
    }
  }
  .cholas {
    margin-top: 10px;
    .info-container {
      .logo-container {
        background-image: url("/images/images_section/kachFon.jpg");
        .logo {
          background-image: url("/images/images_section/choLog2.jpg");
        }
      }
    }
    .img-container {
      .img {
        background-image: url("/images/images_section/cholas.jpg");
      }
    }
  }
  .arawi {
      flex-direction: row-reverse;
    margin-top: 10px;
    .info-container {
      .logo-container {
        background-image: url("/images/images_section/kachFon.jpg");
        .logo {
          background-image: url("/images/images_section/araLogo.jpg");
        }
      }
    }
    .img-container {
      .img {
        background-image: url("/images/images_section/arawi3.jpg");
      }
    }
  }
  .oruro{
    margin-top: 10px;
    .info-container {
      .logo-container {
        background-image: url("/images/images_section/kachFon.jpg");
        .logo {
          background-image: url("/images/images_section/bloqueLogo.jpg");
        }
      }
    }
    .img-container {
      .img {
        background-image: url("/images/images_section/bloqueOruro.jpg");
      }
    }
  }
  .m-h{
    flex-direction: row-reverse;
    margin-top: 10px;
    .info-container {
      .logo-container {
        background-image: url("/images/images_section/kachFon.jpg");
        .logo {
          background-image: url("/images/images_section/m-hLogo2.jpg");
        }
      }
    }
    .img-container {
      .img {
        background-image: url("/images/images_section/m-h2.jpg");
      }
    }
  }
  .sanIsidro{
    margin-top: 10px;
    .info-container {
      .logo-container {
        background-image: url("/images/images_section/kachFon.jpg");
        .logo {
          background-image: url("/images/images_section/siLogo.jpg");
        }
      }
    }
    .img-container {
      .img {
        background-image: url("/images/images_section/sanIsidro.jpg");
      }
    }
  }
  .chinas{
    flex-direction: row-reverse;
    margin-top: 10px;
    .info-container {
      .logo-container {
        background-image: url("/images/images_section/kachFon.jpg");
        .logo {
          background-image: url("/images/images_section/chinasLogo.jpg");
        }
      }
    }
    .img-container {
      .img {
        background-image: url("/images/images_section/chinas.jpg");
      }
    } 
  }
  .reyes{
    margin-top: 10px;
    .info-container {
      .logo-container {
        background-image: url("/images/images_section/kachFon.jpg");
        .logo {
          background-image: url("/images/images_section/reyesLogo.jpg");
        }
      }
    }
    .img-container {
      .img {
        background-image: url("/images/images_section/reyes.jpg");
      }
    }
  }
  .central{
    flex-direction: row-reverse;
    margin-top: 10px;
    .info-container {
      .logo-container {
        background-image: url("/images/images_section/kachFon.jpg");
        .logo {
          background-image: url("/images/images_section/centralLogo.jpg");
        }
      }
    }
    .img-container {
      .img {
        background-image: url("/images/images_section/central.jpg");
        background-size: cover;
        background-position: center;
      }
    } 
  }
  .candila{
    margin-top: 10px;
    .info-container {
      .logo-container {
        background-image: url("/images/images_section/kachFon.jpg");
        .logo {
          background-image: url("/images/images_section/candilaLogo.jpg");
        }
      }
    }
    .img-container {
      .img {
        background-image: url("/images/images_section/candila.jpg");
      }
    }
  }
  .orureños{
    flex-direction: row-reverse;
    margin-top: 10px;
    .info-container {
      .logo-container {
        background-image: url("/images/images_section/kachFon.jpg");
        .logo {
          background-image: url("/images/images_section/orureñosLogo.jpg");
        }
      }
    }
    .img-container {
      .img {
        background-image: url("/images/images_section/orureños.jpg");
        background-size: cover;
        background-position: center;
      }
    } 
  }
  }
  
  
  

